{%include 'adminheader.html'%}
<center>
	<h1 style="color: #45b6fe">Manage News Categories</h1><br><br>
		<form method="post">
			<table class="table" style="width: 800px">
				<tr>
					<th><h5 style="color: #45b6fe">Category Name</h5></th>
					<td><input type="text" required class="form-control" placeholder="Enter Name..." name="cname"{% if data['up'] %} value="{{data['up'][0]['category_name']}}"{%endif%}></td>
				</tr>
				{% if data['up'] %}
				<tr>
					<th><h5 style="color: #45b6fe">Category Description</h5></th>
					<td><input type="text" required class="form-control" placeholder="Enter Category..." name="categorydescription" value="{{data['up'][0]['category_description']}}"></td>
				</tr>
				<tr>
					<td align="center" colspan="2"><input type="submit" name="update" value="UPDATE"></td>
				</tr>
				{% else %}
				<tr>
					<th><h5 style="color: #45b6fe">Category Description</h5></th>
					<td><textarea required class="form-control" placeholder="Enter Category..." name="categorydescription"></textarea></td>
				</tr>
				<tr>
					<td align="center" colspan="2"><input type="submit" class="btn btn-info" name="submit" value="REGISTER"></td>
				</tr><br><br><br>
				{% endif %}
				
			</table>
			<h1 style="color: #45b6fe">News Categories</h1><br><br><br>
			<table class="table" style="width: 600px">
				<tr>
					<th><h5 style="color: #45b6fe">Category Name</h5></th>
					<th><h5 style="color: #45b6fe">Category Description</h5></th>
				</tr>
				{% for row in data['category'] %}
				<tr>
					<td style="color: #ffffff">{{ row['category_name'] }}</td>
					<td style="color: #ffffff">{{ row['category_description'] }}</td>
					<td><a class="btn btn-danger" href="?action=delete&id={{ row['category_id'] }}">delete</a></td>
					<td><a class="btn btn-success" href="?action=update&id={{ row['category_id'] }}">update</a></td>
				</tr>
				{% endfor %}
			</table>
		</form></center>
{% include 'footer.html' %}