{% include 'heder.html' %}

	<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="banner-text agileits-w3layouts">
				<div  id="top" class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li>
							<div class="banner-textagileinfo">
								<center>
								<h6>WELCOME TO</h6>	 
								<h3>IMPORTANT IDEAS AND FACTS</h3>
								<p>To help you summarize and analyze your argumentative texts, your articles, your scientific texts, your history texts as well as your well-structured analyses work of art, Smart Summarization provides you with a "Summary text tool" : an educational tool that identifies and summarizes the important ideas and facts of your documents. Summarize in 1-Click, go to the main idea or skim through so that you can then interpret your texts quickly and develop your syntheses.</p>
								<div class="more">
									<a href="#" data-toggle="modal" data-target="#myModal">  Read More</a>
								</div>	</center> 
							</div>	
						</li>
				<!-- 		<li>
							<div class="banner-textagileinfo"> 
								<h6>WELCOME TO</h6>	 
								<h3>dolor sit amet </h3>	
								<div class="more">
									<a href="#" data-toggle="modal" data-target="#myModal"> Read More</a>
								</div>	
							</div>	
						</li> -->
		<!-- 				<li>
							<div class="banner-textagileinfo">
								<h6>WELCOME TO</h6>
								<h3>adipiscing elit</h3>		 	
								<div class="more">
									<a href="#" data-toggle="modal" data-target="#myModal"> Read More</a>
								</div>		
							</div>		
						</li> --> 
					</ul>
				</div>
			</div>
		</div>
	</div>


	<!-- modal-sign -->
	<div class="modal bnr-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div> 
				<div class="modal-body modal-spa">
					<img class="img-responsive" src="/static/images/g1.jpg" alt="">
					<p>To help you summarize and analyze your argumentative texts, your articles, your scientific texts, your history texts as well as your well-structured analyses work of art, Smart Summarization provides you with a "Summary text tool" : an educational tool that identifies and summarizes the important ideas and facts of your documents. Summarize in 1-Click, go to the main idea or skim through so that you can then interpret your texts quickly and develop your syntheses. </p>
				</div> 
			</div>
		</div>
	</div>
	<!-- //modal-sign -->    
	<!-- //banner -->
		<!-- welcome -->
	<div class="welcome"> 
		<div class="container">
		<div class="col-md-6 welcome-w3lright">
				<div class="welcome-grids">
					<div class="service-box">
						<div class="agileits-wicon">
							<i class="fa fa-clone" aria-hidden="true"></i>
						</div>
						<h4 style="color: #ffffff">WRITERS</h4> 
						<h5>Need to summarize your chapters ? With Smart Summarization, go to the heart of your ideas..</h5>
					</div> 
					<div class="clearfix"> </div>
				</div>
				<div class="welcome-grids">
					<div class="col-md-6 col-sm-6 col-xs-6 service-box">
						<div class="agileits-wicon">
							<i class="fa fa-heart-o" aria-hidden="true"></i>
						</div>
						<h4 style="color: #ffffff">EDITORS</h4> 
						<h5>Identify and understand very fast the facts and the ideas of your texts that are part of the current news and events.</h5>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 service-box">
						<div class="agileits-wicon">
							<i class="fa fa-tv" aria-hidden="true"></i>
						</div>
						<h4 style="color: #ffffff"> READERS <h4>
						<h5>Save time, summarize your digital documents for a relevant and fast uptake of information.</h5> 
					</div>
					<div class="clearfix"> </div>
				</div>
			</div> 
			<div class="col-md-6 welcome-w3lleft">
				<center><h3 class="agileits-title" style="color: #ffffff">Welcome !</h3>
				<p style="color:#45b6fe;font-size:35px;"><b>Smart Summarization</b></p>
				<p style="color:#ffffff;font-size:22px;"> </p> <br>
				<p>Smart Summarization summarizes a given content using natural language processing and machine learning. There has been an explosion in the amount of text data from a variety of sources that are in variety of formats.
				</p></center>
			</div>  
			
			<div class="clearfix"> </div>
		</div> 
	</div>
	<!-- //welcome -->
	<!-- testimonials -->
	<div class="testimonials">
		<div class="container"> 
		<div class="w3ls-title">
			<h3 class="w3ls-title">Testimonials</h3>
		</div>
			<div class="slidw3-agileits"> 
				<div class="col-md-4 slid-w3text"> 
					<h4>Machine Learning</h4>
					<p>"The intention of Smart Summarization is to create a coherent and fluent summary having only the main points outlined in the document. Automatic text summarization is a common problem in machine learning"</p>
				</div> 
				<div class="col-md-4 slid-w3text">
					<h4>Natural Language Processing</h4> 
					<p>"Natural Language Processing (NLP) is bound to have a huge impact on our lives. ... It is a process of generating a concise and meaningful summary of text from multiple text resources such as books, news articles, blog posts, research papers etc..." </p>
				</div> 
				<div class="col-md-4 slid-w3text">
					<h4>Deep Learning</h4> 
					<p>" Deep Learning techniques are applied to paraphrase and shorten the original document, just like humans do. Think of it as a pen—which produces novel sentences that may not be part of the source document" </p>
				</div> 
				<div class="clearfix"> </div>
			</div>   
		</div>
	</div>
	<!-- //testimonials -->
	<!-- features -->
	<div class="features">
		<div class="container">
			<div class="w3ls-title">
				<h3 class="agileits-title" style="color: #45b6fe">Features</h3> 
			</div>
			<div class="features-agilerow">
				<div class="col-sm-6 features-left">
					<div class="features-w3grid">
						<div class="col-xs-3 features-w3grid-left">
							<i class="fa fa-heart-o" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9 features-w3grid-right">
							<h4>Title feature</h4>
							<p>The number of title word in sentences, words in sentences that also occur in title gives high score.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-w3grid features-w3grid-mdl">
						<div class="col-xs-3 features-w3grid-left">
							<i class="fa fa-cogs" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9 features-w3grid-right">
							<h4>Sentence length</h4>
							<p>The number of word in sentence this feature is useful to filtering out short sentences such as datelines and author names commonly found in news articles </p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-w3grid">
						<div class="col-xs-3 features-w3grid-left">
							<i class="fa fa-line-chart" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9 features-w3grid-right">
							<h4>Word embedding</h4>
							<p>Word embedding is a set of feature learning techniques in NLP where words are mapped to vectors of real numbers </p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>  
				<div class="col-sm-6 features-left">
					<div class="features-w3grid">
						<div class="col-xs-3 features-w3grid-left">
							<i class="fa fa-cogs" aria-hidden="true"></i>
						</div>
							
						<div class="col-xs-9 features-w3grid-right">
							<h4>TF - IDF </h4>
							<p>Determines the relevance of a word in the document </p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-w3grid features-w3grid-mdl">
						<div class="col-xs-3 features-w3grid-left">
							<i class="fa fa-line-chart" aria-hidden="true"></i>
						</div>
							
						<div class="col-xs-9 features-w3grid-right">
							<h4>Text Extraction</h4>
							<p>Extracting keywords or key sentences from the original document without changing the sentences  to make the summary </p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-w3grid">
						<div class="col-xs-3 features-w3grid-left">
							<i class="fa fa-heart-o" aria-hidden="true"></i>
						</div>
						<div class="col-xs-9 features-w3grid-right">
							<h4>Proper Noun </h4>
							<p> The number of proper noun in sentence. Usually the sentence contains more proper nouns is important and is included in the document summary </p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div> 
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //features -->
<!-- work start here -->
	<div class="work jarallax">
		<div class="container">
			<div class="work-agileinfo">
				<h3>Are You Impressed By Our Work?</h3>
				<h5><p>Know More About Smart Summarization.</p></h5>
				<div class="w3btns-agile">
					<a href="#bottom">Get In Touch</a>
				</div>
			</div>
		</div>
	</div>
	<!-- work end here -->
	<!-- news -->
	<div class="news">
		<div class="container"> 
			<div class="w3ls-title">
				<h3 class="agileits-title" style="color: #ffffff">What We Provide?</h3> 
			</div> 
			<div class="agileits_w3layouts_news_grids"> 
				<div class="col-md-3 col-xs-6 agileits_w3layouts_news_grid">
					<div class="w3_agileits_news_grid">
						<img src="/static/images/textt.png" alt=" " class="img-responsive" />
						<div class="w3_agileits_news_grid_pos">
							<h4><i>Manual Summarization</i></h4>
						</div>
					</div>
					<br>
					<h4 style="color: #45b6fe"><b>Manual Summarization</b></h4>
					<p style="color: #ffffff">Access a provided textual content and summarize it.</p>
				</div>		
				<div class="col-md-3 col-xs-6 agileits_w3layouts_news_grid">
					<div class="w3_agileits_news_grid">
						<img src="/static/images/url.jpg" alt=" " class="img-responsive" />
						<div class="w3_agileits_news_grid_pos">
							<h4><i>URL Summarization</i></h4>
						</div>
					</div>
					<br>
					<h4 style="color: #45b6fe"><b>URL Summarization</b></h4>
					<p style="color: #ffffff">Fetch content from given url and summarize it.</p>
				</div>  
				<div class="col-md-3 col-xs-6 agileits_w3layouts_news_grid">
					<div class="w3_agileits_news_grid">
						<img src="/static/images/docxx.png" alt=" " class="img-responsive" />
						<div class="w3_agileits_news_grid_pos">
							<h4><i>Docx Summarization</i></h4>
						</div>
					</div>
					<br>
					<h4 style="color: #45b6fe"><b>Docx Summarization</b></h4>
					<p style="color: #ffffff">Fetch content from given .docx file and summarize it.</p>
				</div>	 
				<div class="col-md-3 col-xs-6 agileits_w3layouts_news_grid">
					<div class="w3_agileits_news_grid">
						<img src="/static/images/download.png" alt=" " class="img-responsive" />
						<div class="w3_agileits_news_grid_pos">
							<h4><i>PDF Summarization</i></h4>
						</div>
					</div>
					<br>
					<h4 style="color: #45b6fe"><b>PDF Summarization</b></h4>
					<p style="color: #ffffff">Fetch content from given .pdf file and summarize it.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //news --> 
{% include 'footer.html' %}